h3 {
    color: hsl(214, 100%, 50%);
}

/* Page accueil*/
.maison {
    float: left;
    margin-top: 100px;
    padding-left: 100px;
}

.slogan {
    float: left;
    margin: 110px 0 20px 0;
    color: hsl(214, 100%, 50%);
    text-align: center;
}

#carouselExampleInterval {
    clear: both;
}

/* Page connexion.php */
.form_connect {
    clear: both;
}

#eyeIcon {  
    cursor:pointer;
    float: left;
}

/* Page mdpLost.php */
.slogan_1 {
    float: left;
    margin: 50px 0 20px 40px;
    color: hsl(214, 100%, 50%);
    text-align: center;
}

/* Page inscription.php */
#liste_CP {
    list-style: none;
    margin: 0;
    padding-top: 5px;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

#liste_CP li {
    display: block;
    cursor: pointer;
    padding: 3px 5px;
    border-bottom: 1px solid #e9e9e9;
    font-family: sans-serif;
}
  
#liste_CP li:hover {
background: #dfdfdf;
}




/* Page equipeNew */
.member {
    width:100%; 
    border: none; 
    border-bottom: solid 1px #D5DBDB; 
    outline: none;
}





